
  <div class="center hero-unit">
    <h1>Welcome to the Braintree Demo App</h1>

    <h2>
      This a web app to demo <a href="https://braintreepayments.com/">Braintree's</a> Cosmos API


    </h2>
    <%= link_to "Cosmos Vault", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Cosmos Transactions", charges_path, class: "btn btn-large btn-primary" %>
  </div>
